*{
	margin: 0;
	padding: 0;
	
    
}

/* navbar */

.navbar-nav{
	margin-right: 0 !important;
	padding-right: 100px;
}

.navbar{
	background-color: black;
	
	
}

.nav-item a{
	color: white !important;
}

.nav-item{
	padding-left: 2px;
}

.navbar-brand{
	color: white !important;
	padding-left: 100px;
}

#navbar button{
	color: black ;
	background-color: white;
}


/* banner */

#banner-container{
	background-color: #0a193d;
	color: white !important;
	padding-top: 80px;
	padding-bottom: 80px;
    background-image: url("https://images.unsplash.com/photo-1635335199048-f89c2e99de77?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
	background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center;
    
    
}


#banner-row img{
	max-width: 70%;
	height: auto;
	display: block;
	padding-left: 30px;
}



#banner-row a{

	color: black ;
	margin-left: 20px;
	margin-top: 20px;
	
}

#banner-col{
	padding-left: 20px;
}



.btn{
    margin-top: 10px;
    border:#f3f3f3 1px solid;  
}

.btn-lg{
	color:#fff !important;
	border:#f3f3f3 1px solid;
	width: 100px;
	height:20;
}

.btn-primary{
	background-color: #fff;
	color:#000;
	align-self: center;
	width: 70;
}

#banner h1{
font-style: oblique !important;
font-family: 'Estonia' monospace;
text-align: center;
font-weight: bolder;
margin-top: 100px;
}

#links{
	margin-top: 5px;
	margin-left: 80px;
	margin-right: 50px;
}



/* service */
#service{
	padding-top: 80px;
	padding-bottom: 80px;
}

#service h1{
	padding-bottom: 70px;
}

/* about */

#about{
	padding-top: 80px;
	padding-bottom: 80px;
	background-image: url("https://coolbackgrounds.io/images/backgrounds/black/black-unsplash-71f6eaaa.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color:#fff;
}

#about h1{
	padding-bottom: 70px;
}

#about-col ul{
	padding-top: 50px;
	padding-left: 50px;
}

#about-col ul li{
	padding-top: 15px;
	
}

/* product */

#product{
	padding-top: 80px;
	padding-bottom: 80px;
}

#product h1{
	padding-bottom: 70px;
}

#product-col2 ul{
	padding-top: 90px;
}

#product-col2 ul li{
	padding-top: 15px;
}

/* social */

#social{
	padding-top: 80px;
	padding-bottom: 80px;
}

#social h1{
	padding-bottom: 70px;
}

.social-col a:hover img{
transform: translateY(-10px);
}

#social-row{
	flex-direction: row;
}

/* footer */

.mb-3{
padding-top: 10px;
}

#footer ul{
	margin: 0;
	padding: 0;
	list-style: none;
}


/* media */
@media only screen and (max-width: 987px){
	.navbar-brand{
		padding-left: 5px;
	}
	#links a{
		align-items: center;
		justify-self: center;
	}

	#links .btn-primary{
		align-self: center;
	}

}

@media only screen and (max-width: 768px){
	#banner-row img{
		padding-top: 20px;
	}

.social-col{
	width: 33%;
}

}

#footer{
    background-color: #0a193d;
    color: white !important;
	padding-top: 80px;
	padding-bottom: 80px;
	flex: 1;
}

#footer-col1{
	color: #fff;
}

.img-fluid{
	max-width: 100%;
	height: auto;
}

.navbar .nav-item:not(:last-child){
	margin-right:35px; 
}

.dropdown-toggle::after{
	transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after{
	transform: translateY(3px);
}

.dropdown-menu{
	margin-top:5px;
	background-color:#2f3e57 !important;
}

.dropdown-item:hover{
	background-color: #2f3e57 !important;
	color:black !important;
}

.row .btn:hover{
	background-color: white !important;
	color:black !important;
}
