*{
	margin: 0;
	padding:0;
	font-family: 'Roboto Condensed', sans-serif;
}




/* navbar */

.navbar-nav{
	margin-right: 0 !important;
	padding-right: 100px;
}

.navbar{
	background-color: black;
	color: black !important;
}

.nav-item a{
	color: white !important;
}

.nav-item{
	padding-left: 2px;
}

.navbar-brand{
	color: white !important;
	padding-left: 10px;
	text-align: center;
}
.navbar-brand p{
	display: inline-block;
}

#navbar button{
	color: black ;
	background-color: white;
}


.navbar .nav-item:not(:last-child){
	margin-right:35px; 
}

.dropdown-toggle::after{
	transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after{
	transform: translateY(3px);
}

.dropdown-menu{
	margin-top:5px;
	background-color:#2f3e57 !important;
}

.dropdown-item:hover{
	background-color: #2f3e57 !important;
	color:black !important;
}


@media only screen and (max-width: 479px){
	.navbar-brand{
		
		padding-left: 5px;
		text-align: center;
		font-size: medium;
	}

	.navbar button{
		float: inline-end;
	}
	.navbar-brand p{
		display: none;
	}
	
}
/* style for viosns page*/
*{
	
	padding: auto;
}

#briefhistory{
	background-color: aliceblue;
	width: 20vw;
}


/*styles for pastors page*/

.card img{
	width: auto;
	height: auto;
}

.card{
	margin:10px 10px 10px 10px;
	height:50%;
	width:100px;
}

.row #iamge{
	display:inline-block;
}

