*{
	margin: 0;
	padding:0;
	font-family: 'Roboto Condensed', sans-serif;
}


#footer{
    background-color: #0a193d;
    color: white !important;
	padding-top: 80px;
	padding-bottom: 80px;

}

/* navbar */

.navbar-nav{
	margin-right: 0 !important;
	padding-right: 100px;
}

.navbar{
	background-color: black;
	color: black !important;
}

.nav-item a{
	color: white !important;
}

.nav-item{
	padding-left: 2px;
}

.navbar-brand{
	color: white !important;
	padding-left: 10px;
	text-align: center;
}
.navbar-brand p{
	display: inline-block;
}

#navbar button{
	color: black ;
	background-color: white;
}

#img-container{
	background-color: #0a193d;
	color: white !important;
	padding-top: 80px;
	padding-bottom: 80px;
	margin-bottom: 80px;
    background-image: url("https://images.unsplash.com/photo-1498192467103-290f567eb3a3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGV2ZW50c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
	background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center;
}
.navbar .nav-item:not(:last-child){
	margin-right:35px; 
}

.dropdown-toggle::after{
	transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after{
	transform: translateY(3px);
}

.dropdown-menu{
	margin-top:5px;
	background-color:#2f3e57 !important;
}

.dropdown-item:hover{
	background-color: #2f3e57 !important;
	color:black !important;
}

#submit{
	margin:5px 5px;
}

@media only screen and (max-width: 479px){
	.navbar-brand{
		
		padding-left: 5px;
		text-align: center;
		font-size: medium;
	}

	.navbar button{
		float: inline-end;
	}
	.navbar-brand p{
		display: none;
	}
	
}

footer{
	
	bottom: 0;
}
.footer-distributed{
	background-color: #0a193d;
	box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.973);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	
	padding: 15px 20px;
	margin-top: 8px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}
.footer-distributed h2 span{
	color:  #8eb0eb;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;

	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}

}



